body {
    background-color: rgba(128, 128, 128, 0.288);
    overflow: hidden;
    margin: 0;
}

a {
    position: fixed;
    top: 10px;
    right: 10px;
}

#divIrlValues div {
    display: block;
    margin-top: 80px;
}

#divSection {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    right: 180px;
}

#divGround {
    position: relative;
    bottom: 20px;
}

#divLight {
    position: relative;
    bottom: 37px;
}

#divWind {
    position: relative;
    bottom: 40px;
}

#divChartContainer {
    margin-top: 35px;
    margin-left: 10px;
    width: 800px; /* Aumentata la larghezza del contenitore */
    height: 600px; /* Aumentata l'altezza del contenitore */
    display: flex;

    justify-content: flex-start;
}

#column1, #column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 550px; /* Aumentata la larghezza delle colonne */
    position: relative;
    right: 60px;
}

#column1 canvas, #column2 canvas {
    width: 500px; /* Aumentata la larghezza dei canvas */
    height: 380px; /* Aumentata l'altezza dei canvas */
}

body {
    display: flex;
    justify-content: center;
}

