body {
    background-color: rgba(128, 128, 128, 0.288);
    overflow: hidden;
}

a {
    position: absolute;
    top: 10px; /* Regola la distanza dal bordo superiore */
    right: 10px; /* Regola la distanza dal bordo destro */
}

#h1Text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

/*Colonna verticale a sinistra dello schermo*/
/*#divIrlValues {
    margin-top: 50px;
    /*background-color: white;*/
    /*border: 2px solid #ccc;*/
    /*padding: 20px;
    width: 200px;
    height: 400px;
    position: relative;
    border-radius: 10px;
}*/

/*
#divIrlValues div { /*Seleziona tutti i <div> all'interno, in questo caso, di divIrlValues
    display: inline-block;
    margin-right: 130px; /*Aggiunge spazio tra gli elementi
    margin-top: 20px;
    position: relative;
    left:100px;
}*/

#divIrlValues div { /*Seleziona tutti i <div> all'interno, in questo caso, di divIrlValues*/
    display: block;
    margin-top: 80px;

}

#divSection {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#divLight {
    position: relative;/*Relative: Per spostare leggermente dalla posizione originale*/
    bottom: 37px;
}

#divWind {
    position: relative;
    bottom: 37px;
}

/*
#corniceGrafico {
    width: 600px;
    height: 300px;
    border: 1px solid #ccc;
    /*Overflow:
    Controlla cosa succede se il contenuto supera le dimensioni
    in questo caso nasconde quasiasi contenuto al di fuori del limite perché è stato inserito hidden
    overflow: hidden;
    position: relative;
}

#mioGrafico {
    width: 100%;
    height: 100%;
}*/

/*
#corniceGrafico {
    width: 1150px;
    height: 550px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
    float: right; /* Posiziona l'elemento a destra 
    bottom: 600px;
}*/

#corniceGrafico {
    width: 1150px;
    height: 550px;
    border: none;
    overflow: hidden;
    position: relative;
    float: right; /* Posiziona l'elemento a destra */
    bottom: 600px;
    display: grid; /* Usa Grid per il layout */
    grid-template-columns: repeat(2, 1fr); /* Crea 2 colonne uguali */
    grid-template-rows: repeat(2, 1fr); /* Crea 2 righe uguali */
}

#divClasse div{
    border: none; /* Aggiungi un bordo ai container */
    display: flex; /* Centra il contenuto */
    justify-content: center;
    align-items: center;
}
  
#mioGrafico {
    width: 100%;
    height: 100%;
}

/*#svgStats {
    width: 200px; /* Larghezza dell'SVG 
    height: 100px; /* Altezza dell'SVG 
    margin: auto; /* Centra l'SVG 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}*/


